<header class="at-p-header">
  <div class="logo-altalents">
    <img src="Images/LOGO_ALTALENTS.png">
  </div>
</header>

<div class="title-container">
  <div class="at-c-title">Salut à toi, jeune <span class="at-c-violet">recruteur.</span></div>
</div>

<div class="container">
  <img src="Images/GROUPE_6.png">
  <div class="text-accueil">
    <p>Ici, tu vas pouvoir configurer le futur dossier technique pour ton candidat préféré.</p>
  </div>
</div>

<div class="at-p-button-container">
  <button class="at-p-button" (click)="vamos()">
    <img src="Images/ICONE_PLAY.png" class="info-image">
    <p class="at-p-button-text">Vamos !</p>
  </button>
</div>

<img src="Images/ILLUSTRATION_STABILO.png" class="logo-altalent-stabilo">
