<header class="at-p-header">
  <div class="logo-altalents">
    <img src="Images/LOGO_ALTALENTS.png">
  </div>
</header>
<div class="main-content">
  <div class="row">
    <div class="body-bulle">
      <div class="bubble-container">
        <div class="text">
          <h1>Salut à toi, jeune <span class="at-c-violet">recruteur</span> !</h1>
          <p class="font-normal">
            Ici, tu vas pouvoir configurer le futur dossier technique pour ton candidat préféré.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="at-p-button-container">
      <button class="at-p-button" (click)="vamos()">
        <p><i class="fa-solid fa-download"></i>Télécharger</p>
      </button>
    </div>
  </div>
</div>


<img src="Images/ILLUSTRATION_STABILO.png" class="logo-altalent-stabilo">