<header class="at-p-header">
  <div class="logo-altalents">
    <img src="Images/LOGO_ALTALENTS.png">
  </div>
</header>
<div class="container-text-only">
  <img src="Images/GROUPE_5.png" class="background-accueil">
  <div class="text">
      <h1>Salut à toi, jeune <span class="at-c-violet">recruteur</span> !</h1>
      <p>
        Ici, tu vas pouvoir configurer le futur dossier technique pour ton candidat préféré.
      </p>
  </div>
</div>
<div>
  <div class="at-p-button-container">
      <altea-button-prim label="Envoyer" imgSrc="Images/ICONE_PLAY.png" (onClick)="vamos()"></altea-button-prim>
  </div> 
</div>

<img src="Images/ILLUSTRATION_STABILO.png" class="logo-altalent-stabilo">
