<div class="cus-align-center">
    @(Html.Kendo()
        .Loader()
        .Name("Primary")
        .ThemeColor(LoaderThemeColor.Primary)
        .Size(LoaderSize.Large)
        .Type(LoaderType.ConvergingSpinner)
        )
</div>
