<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=18.2.24.806, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
    </configSections>
    <Telerik.Reporting>
        <Cache provider="" />
        <cache provider="" />
        <assemblyReferences>
            <add name="Altalents.Report.Library" version="18.2.24.806" />
        </assemblyReferences>
        <SessionState provider="" />
        <restReportService>
            <storage provider="" />
            <reportResolver provider="" />
        </restReportService>
        <appData path="" />
        <processing>
            <resourceResolver provider="" />
            <sharedDataSourceResolver provider="" />
        </processing>
    </Telerik.Reporting>
</configuration>