<header class="at-p-header">
    <div class="logo-altalents">
        <img src="Images/LOGO_ALTALENTS.png">
    </div>
</header>
<div class="main-content">
    <div class="row">
        <div class="body-bulle">
            <div class="bubble-container">
                <div class="text">
                    <h1 class="mb-3">Accès Refusé</h1>
                    <p class="font-normal mb-3">Vous n'avez pas la permission de consulter ce dossier technique pour le moment.</p>
                    <p *ngIf="tokenDossierTechnique" class="font-normal">Token du DT : <span class="font-bold">{{tokenDossierTechnique}}</span></p>
                    <p *ngIf="permissionDT.libelleStatutDT" class="font-normal mb-3">Statut du DT: <span class="font-bold">'{{permissionDT.libelleStatutDT}}'</span></p>
                    <p *ngIf="permissionDT.message"  class="font-normal">
                        {{permissionDT.message}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="at-p-button-container">
            <button class="at-p-button" (click)="goBack()">
                <p><i class="fa-solid fa-rotate-right"></i>Recharger le DT</p>
            </button>
        </div>
    </div>
</div>
<img src="Images/ILLUSTRATION_STABILO.png" class="logo-altalent-stabilo">