@{
    ViewData["Title"] = "Connexion terminée";
    Layout = "_LayoutVide";
}

<div class="text-center">
    <h1 class="display-4">Connexion terminée</h1>
    <p>Vous avez été déconnecté <a href="/Admin">cliquez ici</a> pour vous reconnecter.</p>
</div>
