@{
    ViewData["Title"] = "Connexion terminée";
    Layout = "_LayoutVide";
}
<div id="loginView" class="cadre-blanc-connexion">
    <div class="grid-align-center mt-55px">
            <div class="text-center">
            <span class="connexion-title">@ViewData["Title"]</span>
            <br />  <br />  <br />
                <p>Vous avez été déconnecté.</p>
            <p><a href="/Admin">Cliquez ici</a> pour vous reconnecter</p>
            </div>
        </div>
</div>
