<app-custom-loader [isLoading]="isLoading" />

    <div class="at-p-formulaire-info-section">
    <img src="Images/HONNETETE.png">
    <p>
        cinquième étape : <span class="font-normal">on entre dans le vif du sujet ! C’est ici que nous allons vous poser quelques questions spécifiques pour mieux comprendre vos besoins, vos attentes ou vos superpouvoirs secrets (on ne juge pas). Allez, on sait que vous pouvez le faire !</span>
    </p>
</div>
<fieldset>
<legend><i class="fa-solid fa-question"></i>Questions</legend>
<div *ngFor="let question of questions">
    <label class="col-form-label">{{ question.question }}<span class="champ-obligatoire" *ngIf="question.isObligatoire">*</span></label>
    <textarea class="form-control" placeholder="Répondez ici" [(ngModel)]="question.reponse"></textarea>
    <div class="error-message" *ngIf="question.isObligatoire && !question.reponse && showErreurs">
        La réponse est requise.
    </div>
</div>
</fieldset>
<fieldset>
    <legend><i class="fa-regular fa-file"></i>Documents</legend>
    <div *ngFor="let doc of documents; let i = index" >
        <p><a (click)="downloadPj(i)">{{doc.nomFichier}} </a></p>
    </div>
</fieldset> 
