<div class="fenetre-dialog">
    <form [formGroup]="formGroup">
        <fieldset>
            <legend>Documents</legend>
            <div class="row mb-2">
                <div *ngIf="pieceJointe?.nomFichier">
                    Document : {{ pieceJointe?.nomFichier }}
                </div>
                <div class="col-lg-12 drop-zone" dropzone="move">
                    <input type="file" (change)="onFileUploadChange($event)">
                    <img src="Images/ICON_FEATHER_DOWNLOAD.png">
                    <p class="at-c-violet">{{ pieceJointe?.data ? 'Modifier le' : 'Déposez votre' }} document</p>
                </div>
                <div class="error-message" *ngIf="!pieceJointe?.data && formGroup.touched">
                    Le document est obligatoire.
                </div>
            </div>
            <div class="row mb-2">
                <label for="commentaire" class="col-form-label">Commentaire de pièce jointe</label>
                <input type="text" class="form-control" formControlName="commentaire" placeholder="Pas de commentaire">
            </div>
        </fieldset>
        <div class="at-p-button-container">
            <button class="at-p-secondary-button" (click)="closeDialog()">
                <p>Annuler</p>
            </button>
            <button class="at-p-button" [disabled]="isLoading" (click)="submit()">
                <p>Valider</p>
            </button>
        </div>
    </form>
</div>