<div class="fenetre-dialog">
    <form [formGroup]="formGroup">
        <fieldset>
            <legend>{{modalTitle}}</legend>
            <div class="row mb-2  margin-all">
                <div class="drop-zone col-lg-12" dropzone="move"   [class.dragging]="isDragging" (click)="triggerFileInput()" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
                    <input type="file" (change)="onFileUploadChange($event)" style="display: none;" id="fileInput">
                    
                    <img src="Images/ICON_FEATHER_DOWNLOAD.png">
                    <p class="at-c-violet">{{ pieceJointe?.data ? 'Modifier le' : 'Déposez un' }} Document</p>
                    <div class="nom-fichier-uploaded" *ngIf="pieceJointe?.nomFichier">
                        <p>CV sélectionné : {{ pieceJointe?.nomFichier }}</p>
                    </div>
                </div>
                <div class="error-message" *ngIf="!pieceJointe?.data && formGroup.touched">
                    Le CV est obligatoire.
                </div>
            </div>
            <div class="row mb-2">
                <label for="commentaire" class="col-form-label">Commentaire</label>
                <input type="text" class="form-control" formControlName="commentaire" placeholder="Pas de commentaire">
            </div>
        </fieldset>
        <div class="at-p-button-container">
            <button class="at-p-secondary-button" (click)="closeDialog()">
                <p>Annuler</p>
            </button>
            <button class="at-p-button" [disabled]="isLoading" (click)="submit()">
                <p>Valider</p>
            </button>
        </div>
    </form>
</div>