@(Html.Kendo().Form<IntroductionDto>()
    .Name("addIntroductionForm")
    .HtmlAttributes(new { action = @Url.Action("CreateIntroduction", IntroductionController.ControllerName), method = "POST" })
    .Validatable(v => v.ValidationSummary(false))
    .ButtonsTemplateId("templateEnregistrerIntroductionBtn")
    .Items(item =>
    {
        item.Add()
            .Field(f => f.TitreFr)
            .Label(l => l.Text(LibellesResources.IntroductionTitreFr))
            .InputHtmlAttributes(new { required = "required", validationmessage = LibellesResources.IntroductionTitreFrRequired });
        item.Add()
            .Field(f => f.TitreEn)
            .Label(l => l.Text(LibellesResources.IntroductionTitreEn))
            .InputHtmlAttributes(new { required = "required", validationmessage = LibellesResources.IntroductionTitreEnRequired });
        item.Add()
            .Field(f => f.OrdreFr)
            .Label(l => l.Text(LibellesResources.IntroductionOrdreFr))
            .InputHtmlAttributes(new { required = "required", validationmessage = LibellesResources.IntroductionOrdreFrRequired })
            .Editor(e => e.NumericTextBox().Min(1).Format("#"));
        item.Add()
            .Field(f => f.OrdreEn)
            .Label(l => l.Text(LibellesResources.IntroductionOrdreEn))
            .InputHtmlAttributes(new { required = "required", validationmessage = LibellesResources.IntroductionOrdreEnRequired })
            .Editor(e => e.NumericTextBox().Min(1).Format("#"));
    })
)

<script type="text/x-kendo-template" id="templateEnregistrerIntroductionBtn">
    <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary k-form-submit" type="submit">
        <span class="k-button-text">Enregistrer</span>
    </button>
</script>
