
<app-custom-loader [isLoading]="isLoading" />
<div class="at-p-formulaire-info-section">
    <img src="Images/HONNETETE.png">
    <p>
        Ouf, nous arrivons à la fin! <span class="font-normal">Mais avant de terminer, une petite relecture s’impose. Voici toutes les informations que vous venez de fournir. Si une information est fausse, vous pouvez la corriger en cliquant sur Modifier.</span>
    </p>
</div>
<fieldset>
    <legend class="flex-row space-between">
        <span><i class="fa-solid fa-info"></i>Informations personnelles</span>
        <div class="edit-links">
            <a (click)="goToStep(dossierTechniqueEnum.ParlonsDeVous)" class="edit-link">
                <p class="at-c-violet"><i class="fas fa-edit"></i> Modifier</p>
            </a>
        </div>
    </legend>
    <p class="at-c-violet">{{parlonsDeVous.nom}} {{parlonsDeVous.prenom}}</p>
    <p class="font-bold">{{parlonsDeVous.email}}</p>
    <p class="font-normal">{{parlonsDeVous.telephone1}}<span *ngIf="parlonsDeVous.telephone2"> - {{parlonsDeVous.telephone2}}</span></p>
    <p class="font-normal">{{parlonsDeVous.adresse?.adresse1}} {{parlonsDeVous.adresse?.adresse2}} {{parlonsDeVous.adresse?.codePostal}} {{parlonsDeVous.adresse?.ville}} {{parlonsDeVous.adresse?.pays}}</p>
    <p class="font-bold margin-top">{{parlonsDeVous.synthese}}</p>
</fieldset>
<fieldset>
    <legend class="flex-row space-between">
        <span><i class="fa-solid fa-graduation-cap"></i>Formation</span>
        <div class="edit-links">
            <a (click)="goToStep(dossierTechniqueEnum.Formations)" class="edit-link">
            <p class="at-c-violet"><i class="fas fa-edit"></i> Modifier</p>
            </a>
        </div>
    </legend>
    <div *ngFor="let formation of formations" class="margin-bottom">
        <p class="at-c-violet">{{formation.libelle}}</p>
        <p class="font-bold">{{formation.domaine}} <span *ngIf="formation.niveau">({{formation.niveau}})</span></p>
        <p class="font-normal">{{formation.organisme}}</p>
        <p class="font-normal" *ngIf="formation.dateFin">
            De {{formation.dateDebut | date : "MMMM YYYY" }} à {{formation.dateFin | date : "MMMM YYYY" }} 
            <span *ngIf="formation.dureeExperience">({{formation.dureeExperience}})</span>
        </p>
        <p class="font-normal" *ngIf="!formation.dateFin">
            Depuis {{formation.dateDebut | date : "MMMM YYYY" }} 
            <span *ngIf="formation.dureeExperience">({{formation.dureeExperience}})</span>
        </p>
    </div>
</fieldset>
<fieldset>
    <legend class="flex-row space-between">
        <span><i class="fa-solid fa-medal"></i>Certification</span>
        <div class="edit-links">
            <a (click)="goToStep(dossierTechniqueEnum.Formations)" class="edit-link">
            <p class="at-c-violet"><i class="fas fa-edit"></i> Modifier</p>
            </a>
        </div>
    </legend>
    <div *ngFor="let certification of certifications" class="margin-bottom">
        <p class="at-c-violet">{{certification.libelle}}</p>
        <p class="font-bold">{{certification.domaine}} <span *ngIf="certification.niveau">({{certification.niveau}})</span></p>
        <p class="font-normal">{{certification.organisme}}</p>
        <p class="font-normal" *ngIf="certification.dateFin">
            De {{certification.dateDebut | date : "MMMM YYYY" }} à {{certification.dateFin | date : "MMMM YYYY" }} 
            <span *ngIf="certification.dureeExperience">({{certification.dureeExperience}})</span>
        </p>
        <p class="font-normal" *ngIf="!certification.dateFin">
            Depuis {{certification.dateDebut | date : "MMMM YYYY" }} 
            <span *ngIf="certification.dureeExperience">({{certification.dureeExperience}})</span>
        </p>
    </div>
</fieldset>
<fieldset>
    <legend class="flex-row space-between">
        <span><i class="fa-regular fa-building"></i>Expérience professionnelle</span>
        <div class="edit-links">
            <a (click)="goToStep(dossierTechniqueEnum.Experiences)" class="edit-link">
            <p class="at-c-violet"><i class="fas fa-edit"></i> Modifier</p>
            </a>
        </div>
    </legend>
    <div  *ngFor="let experience of experiences" class="margin-bottom">
        <p class="at-c-violet">{{experience.intitulePoste}}</p>
        <p class="font-bold">{{experience.nomEntreprise}} <span *ngIf="experience.nomEntreprise && experience.typeContrat.libelle"> - </span>{{experience.typeContrat.libelle}}</p>
        <p class="font-normal" *ngIf="experience.dateFin">De {{experience.dateDebut | date : "MMMM YYYY" }} à {{experience.dateFin | date : "MMMM YYYY" }} <span *ngIf="experience.dureeExperience">({{experience.dureeExperience}})</span></p>
        <p class="font-normal" *ngIf="!experience.dateFin">Depuis {{experience.dateDebut | date : "MMMM YYYY" }} <span *ngIf="experience.dureeExperience">({{experience.dureeExperience}})</span></p>
        <p>
            <span *ngFor="let technologie of experience.technologies" class="at-p-autocomplete-choix">
                {{technologie.libelle}}
            </span>
            <span *ngFor="let competence of experience.competences" class="at-p-autocomplete-choix">
                {{competence.libelle}}
            </span>
            <span *ngFor="let methodologie of experience.methodologies" class="at-p-autocomplete-choix">
                {{methodologie.libelle}}
            </span>
            <span *ngFor="let outil of experience.outils" class="at-p-autocomplete-choix">
                {{outil.libelle}}
            </span>
        </p>
        <p class="font-normal">{{experience.description}}</p>

        <div class="row margin-top">
            <div class="col-lg-4" *ngFor="let project of experience.projetOrMission"> 
                <div class="item-bloc" >
                    <p *ngIf="project.NomClientOrProjet || project.domaineMetier" class="at-c-violet font-normal">{{project.NomClientOrProjet}} <span *ngIf="project.NomClientOrProjet && project.domaineMetier"> - </span><span *ngIf="project.domaineMetier">{{project?.domaineMetier?.libelle}}</span></p>
                    <div *ngIf="project.dateDebut" class="font-italic font-small font-normal">
                        <span class="" *ngIf="project.dateFin">De {{project.dateDebut | date : "MMMM YYYY" }} à {{project.dateFin | date : "MMMM YYYY" }} <span *ngIf="project.dureeExperience">({{project.dureeExperience}})</span></span>
                        <span class="" *ngIf="!project.dateFin">Depuis {{project.dateDebut | date : "MMMM YYYY" }} <span *ngIf="project.dureeExperience">({{project.dureeExperience}})</span></span>
                    </div>
                    <div *ngIf="project.budget || project.compositionEquipe || project.lieu"  class="font-italic font-small font-normal margin-bottom">
                        {{project.budget}}<span *ngIf="project.budget"> €</span><span *ngIf="project.compositionEquipe && project.budget"> - </span>{{project.compositionEquipe}}<span *ngIf="project.compositionEquipe && project.lieu"> - </span>{{project.lieu}}
                    </div>
                    <div *ngIf="project.descriptionProjetOrMission" class="font-normal margin-bottom text-ellipsis">{{project.descriptionProjetOrMission}}</div>
                    <div *ngIf="project.taches" class="text-ellipsis">
                        <span class="font-normal"><span class="font-underline">Taches</span> : {{project.taches}}</span>
                    </div>
                </div> 
            </div>
        </div>

    </div>
</fieldset>
<fieldset>
    <legend class="flex-row space-between">
        <span><i class="fa-solid fa-expand "></i>Compétences</span>
        <div class="edit-links">
            <a (click)="goToStep(dossierTechniqueEnum.Competences)" class="edit-link">
            <p class="at-c-violet"><i class="fas fa-edit"></i> Modifier</p>
            </a>
        </div>
    </legend>
    <div class="margin-bottom" *ngIf="compCompetences.length > 0">
        <div>Compétences</div>
        <div class="flex-row-comp">
            <span *ngFor="let competence of compCompetences" class="competence-item">
                <p class="competence-libelle font-normal">{{ competence.libelle }}</p>
                <div class="competence-stars">
                    <span *ngFor="let star of arrayNbEtoiles">
                        <i class="at-c-violet fa" [ngClass]="star <= competence.niveau ? 'fa-star' : 'fa-regular fa-star'"></i>
                    </span>
                </div>
            </span>
        </div>
    </div>
    <div class="margin-bottom" *ngIf="compMethodologies.length > 0">
        <div>Méthodologies</div>
        <div class="flex-row-comp">
            <span *ngFor="let competence of compMethodologies" class="competence-item">
                <p class="competence-libelle font-normal">{{ competence.libelle }}</p>
                <div class="competence-stars">
                    <span *ngFor="let star of arrayNbEtoiles">
                        <i class="at-c-violet fa" [ngClass]="star <= competence.niveau ? 'fa-star' : 'fa-regular fa-star'"></i>
                    </span>
                </div>
            </span>
        </div>
    </div>
    <div class="margin-bottom" *ngIf="compOutils.length > 0">
        <div>Outils</div>
        <div class="flex-row-comp">
            <span *ngFor="let competence of compOutils" class="competence-item">
                <p class="competence-libelle font-normal">{{ competence.libelle }}</p>
                <div class="competence-stars">
                    <span *ngFor="let star of arrayNbEtoiles">
                        <i class="at-c-violet fa" [ngClass]="star <= competence.niveau ? 'fa-star' : 'fa-regular fa-star'"></i>
                    </span>
                </div>
            </span>
        </div>
    </div>
    <div class="margin-bottom" *ngIf="compTechnologie.length > 0">
        <div>Téchnologies</div>
        <div class="flex-row-comp">
            <span *ngFor="let competence of compTechnologie" class="competence-item">
                <p class="competence-libelle font-normal">{{ competence.libelle }}</p>
                <div class="competence-stars">
                    <span *ngFor="let star of arrayNbEtoiles">
                        <i class="at-c-violet fa" [ngClass]="star <= competence.niveau ? 'fa-star' : 'fa-regular fa-star'"></i>
                    </span>
                </div>
            </span>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend class="flex-row space-between">
        <span><i class="fa-solid fa-language"></i>Langues parlées</span>
        <div class="edit-links">
            <a (click)="goToStep(dossierTechniqueEnum.Formations)" class="edit-link">
            <p class="at-c-violet"><i class="fas fa-edit"></i> Modifier</p>
            </a>
        </div>
    </legend>
    <div class="margin-bottom">
        <span *ngFor="let langue of langues; last as isLast">&nbsp;
            <span class="">{{langue.libelleLangue}}</span><span class="font-normal">&nbsp;&nbsp;({{langue.libelleReferenceNiveau}})&nbsp;&nbsp;</span>
        </span>
    </div>
</fieldset>
<fieldset>
    <legend class="flex-row space-between">
        <span><i class="fa-solid fa-question "></i>Questions spécifiques & documentation</span>
        <div class="edit-links">
            <a (click)="goToStep(dossierTechniqueEnum.Questions)" class="edit-link">
            <p class="at-c-violet"><i class="fas fa-edit"></i> Modifier</p>
            </a>
        </div>
    </legend>
    <div *ngFor="let question of questions" class="margin-bottom">
        <label class="">{{ question.question }}<span class="champ-obligatoire" *ngIf="question.isObligatoire">*</span> : &nbsp;</label>
        <span class="font-normal">{{question.reponse}}</span> 
    </div>
</fieldset>
<fieldset>
    <div class="confirmation-section">
    <label class="toggle-container">
      <input type="checkbox" [(ngModel)]="confirmation" hidden />
      <span class="toggle-slider"></span>
      <span>Je certifie que les propos relatés dans mon dossier technique sont sincères et véritables</span>
    </label>
    <p *ngIf="!confirmation" class="error-message">
      Vous devez certifier les informations avant de pouvoir terminer.
    </p>
  </div>
</fieldset>