<div>
    <h2>Bravo, quelle carrière !</h2>
    <p>
        Vous voilà enfin libéré.e de votre besogne.
    </p>
    <p>
        Avec ce superbe dosser technique, nous allons tenter de vous trouver un job à la Nasa, chez Tesla, chez Apple, chez Waynes Enterprise, chez Hooli, ou chez Metacortex (si t'as la ref : +3 points sur ton CV). Dans tous les cas, nous nous engageons à vous dénicher le meilleur job de l'histoire des meilleurs jobs.
    </p>
</div>
<div>
    <button>Télécharger mon oeuvre</button>
    <button>Fuir</button>
</div>