<app-custom-loader [isLoading]="isLoading" />
<header class="at-p-header">
    <div class="logo-altalents">
        <img src="Images/LOGO_ALTALENTS.png">
    </div>
</header>
<div class="Row margin-top margin-bottom">
<div class="body-bulle">
    <div class="bubble-container margin-bottom">
        <div class="text">
            <h1 class="margin-top margin-bottom">Bravo <span class="at-c-violet">{{nomPrenomCandidat}}</span>, quelle carrière !</h1>
            <p>
                Vous voilà enfin libéré(e) de votre besogne. Avec ce superbe dosser technique, nous allons tenter de vous trouver un job à la Nasa, chez Tesla, chez Apple, chez Waynes Enterprise, chez Hooli, ou chez Metacortex (si t'as la ref : +3 points sur ton CV). Dans tous les cas, nous nous engageons à vous dénicher le meilleur job de l'histoire des meilleurs jobs.
            </p>
        </div>
    </div>
</div>
</div>
<div class="Row margin-top">
    <div class="at-p-button-container">
        <button class="at-p-button" (click)="DownloadDt()">
            <p><i class="fa-solid fa-download"></i>&nbsp;Télécharger mon oeuvre</p>
        </button>
    </div>   
</div>

<img src="Images/ILLUSTRATION_STABILO.png" class="logo-altalent-stabilo">