<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alerte : Dossier Technique de {{candidatFullName}} Complété</title>
  <!--<style>
    /* Par défaut, le logo clair est affiché */
    .logo-light {
      display: block;
    }

    .logo-dark {
      display: none;
    }

    /* Si le mode sombre est activé, on affiche le logo sombre */
    @media (prefers-color-scheme: dark) {
      .logo-light {
        display: none;
      }

      .logo-dark {
        display: block;
      }
    }
  </style>-->
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="{{baseUrl}}/Images/LOGO_ALTALANTS_EMAILS_TEMPLATE.jpg" alt="Logo Altalents" style="">
      <!--<img src="{{baseUrl}}/Images/LOGO_ALTALENTS.png" class="logo-light" alt="Logo Altalents" style="max-width: 200px; height: auto; display: block;">
      <img src="{{baseUrl}}/Images/LOGO_ALTALENTS_DARKMODE.png" class="logo-dark" alt="Logo Altalents" style="max-width: 200px; height: auto; display: none;">-->
    </div>
    <div class="content">
      <p>Bonjour,</p>
      <p>
        Un candidat ({{candidatFullName}}) a terminé de remplir son dossier technique. Vous pouvez dès à présent consulter ou modifier ses informations via les liens ci-dessous :
      </p>
      <ul>
        <li>
          <a href="{{downloadLink}}" target="_blank">
            Télécharger le dossier technique (format Word)
          </a>
        </li>
        <br />
        <li>
          <a href="{{editLink}}" target="_blank">
            Retoucher le dossier technique sur Altalents
          </a>
        </li>
        <br />
        <li>
          <a href="{{openAdminLink}}" target="_blank">
            Ouvrir le tableau de bord sur l'admin
          </a>
        </li>
      </ul>
      <p>
        Merci de traiter cette demande dès que possible.
      </p>
    </div>
    <div class="footer">
      <p>Cet email vous a été envoyé automatiquement par Altalent.</p>
      <p class="humor">PS : Qui a dit que les machines ne travaillent pas pour vous ? 🤖</p>
    </div>
  </div>
</body>
</html>
