<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>À vous de jouer ! Voici votre dossier technique à renseigner.</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="{{baseUrl}}/Images/LOGO_ALTALANTS_EMAILS_TEMPLATE.jpg" alt="Logo Altalents" style="">
    </div>
    <div class="content">
      <p>Bonjour {{UserNom}},</p>
      <p>
        Voici ton nouveau mdp (oui tu peux le changer) {{mdp}}
      </p>
    </div>
    <div class="footer">
      <p>Cet email vous a été envoyé automatiquement par Altalent.</p>
      <p class="humor">PS : tache de ne plus le perdre</p>
    </div>
  </div>
</body>
</html>
