<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>À vous de jouer ! Voici votre dossier technique à renseigner.</title>
  <style>
    /* Par défaut, le logo clair est affiché */
    .logo-light {
      display: block;
    }

    .logo-dark {
      display: none;
    }

    /* Si le mode sombre est activé, on affiche le logo sombre */
    @media (prefers-color-scheme: dark) {
      .logo-light {
        display: none;
      }

      .logo-dark {
        display: block;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="{{baseUrl}}/Images/LOGO_ALTALENTS.png" class="logo-light" alt="Logo Altalents" style="max-width: 200px; height: auto; display: block;">
      <img src="{{baseUrl}}/Images/LOGO_ALTALENTS_DARKMODE.png" class="logo-dark" alt="Logo Altalents" style="max-width: 200px; height: auto; display: none;">
    </div>
    <div class="content">
      <p>Bonjour {{candidatFullName}},</p>
      <p>
        Merci de bien vouloir remplir le dossier technique en cliquant sur le lien ci-dessous :
      </p>
      <p>
        <a href="{{link}}" target="_blank">
          Complétez votre dossier technique
        </a>
      </p>
      <p>Nous vous remercions pour votre collaboration.</p>
    </div>
    <div class="footer">
      <p>Cet email vous a été envoyé automatiquement par Altalent.</p>
      <p class="humor">PS : Oui, nos emails sont plus stylés que les spams... ou pas 🕶️</p>
    </div>
  </div>
</body>
</html>
