<div class="at-p-fenetre-dialog">
    <form [formGroup]="formGroup">
        <fieldset>
            <legend>Formation</legend>
            <div class="row mb-2">
                <div class="col-6 at-p-label-champ-input">
                    <label for="libelle" class="col-form-label">Formation</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" formControlName="libelle" placeholder="Libellé de la formation">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6 at-p-label-champ-input ">
                    <label for="domaine" class="col-form-label">Domaine</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" formControlName="domaine" placeholder="Histoire">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6 at-p-label-champ-input ">
                    <label for="niveau" class="col-form-label">Niveau</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" formControlName="niveau" placeholder="Bac">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6 at-p-label-champ-input ">
                    <label for="organisme" class="col-form-label">Organisme</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" formControlName="organisme" placeholder="Nom de l'organisme">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6 at-p-label-champ-input ">
                    <label for="dateDebut" class="col-form-label">Date de début</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" formControlName="dateDebut" placeholder="JJ/MM/AAAA">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6 at-p-label-champ-input ">
                    <label for="dateFin" class="col-form-label">Date de fin</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" formControlName="dateFin" placeholder="JJ/MM/AAAA">
                </div>
            </div>
        </fieldset>
        <div>
            <div class="at-p-button-container">
                <button class="at-p-secondary-button" (click)="closeDialog()">
                    <p>Annuler</p>
                </button>
                <button class="at-p-button" (click)="submit()">
                    <p>Valider</p>
                </button>
            </div>
        </div>
    </form>
</div>