<div class="fenetre-dialog">
    <form [formGroup]="formGroup">
      <fieldset>
        <legend><i class="fa-solid fa-graduation-cap"></i> Formation</legend>
  
        <!-- Formation -->
        <div class="row mb-2">
          <div class="col-lg-6 label-champ-input">
            <label for="libelle" class="col-form-label">Intitulé de la formation <span class="champ-obligatoire">*</span></label>
            <div class="error-message" *ngIf="formGroup.controls['libelle'].invalid && formGroup.controls['libelle'].touched">
              L'intitulé de la formation est requis.
            </div>
          </div>
          <div class="col-lg-6">
            <input
              type="text"
              class="form-control"
              formControlName="libelle"
              placeholder="Licence en Informatique, BTS Management"
            />
          </div>
        </div>

  
        <!-- Niveau -->
        <div class="row mb-2">
          <div class="col-lg-6 label-champ-input">
            <label for="niveau" class="col-form-label">Niveau</label>
          </div>
          <div class="col-lg-6">
            <input
              type="text"
              class="form-control"
              formControlName="niveau"
              placeholder="Bac, Bac+3, Bac+5"
            />
          </div>
        </div>
  
        <!-- Organisme -->
        <div class="row mb-2">
          <div class="col-lg-6 label-champ-input">
            <label for="organisme" class="col-form-label">École / Organisme de formation</label>
          </div>
          <div class="col-lg-6">
            <input
              type="text"
              class="form-control"
              formControlName="organisme"
              placeholder="Université Paris-Sorbonne, CNAM"
            />
          </div>
        </div>
  
        <!-- Date de début -->
        <div class="row mb-2">
          <div class="col-lg-6 label-champ-input">
            <label for="dateDebut" class="col-form-label">Date de début <span class="champ-obligatoire">*</span></label>
            <div class="error-message" *ngIf="formGroup.get('dateDebut')?.errors?.['required'] && formGroup.get('dateDebut')?.touched">
              La date de début est requise.
            </div>
            <div class="error-message" *ngIf="formGroup.get('dateDebut')?.errors?.['maxDate'] && formGroup.get('dateDebut')?.touched">
              La date ne peut pas être supérieure à aujourd'hui.
            </div>
          </div>
          <div class="col-lg-6">
            <input
              type="date"
              class="form-control"
              formControlName="dateDebut"
              placeholder="01/09/2020"
            />
          </div>
        </div>
  
        <!-- Date de fin -->
        <div class="row mb-3">
          <div class="col-lg-6 label-champ-input">
            <label for="dateFin" class="col-form-label">Date de fin</label>
            <div class="error-message" *ngIf="formGroup.get('dateFin')?.errors?.['maxDate'] && formGroup.get('dateFin')?.touched">
              La date ne peut pas être supérieure à aujourd'hui.
            </div>
            <div class="error-message" *ngIf="formGroup.hasError('dateRangeInvalid')">
              La date de fin doit être postérieure à la date de début.
            </div>
          </div>
          <div class="col-lg-6">
            <input
              type="date"
              class="form-control"
              formControlName="dateFin"
              placeholder="30/06/2023"
            />
          </div>
        </div>
      </fieldset>
  
      <!-- Boutons -->
      <div>
        <div class="at-p-button-container">
          <button class="at-p-secondary-button" (click)="closeDialog()">
            <p>Annuler</p>
          </button>
          <button class="at-p-button" (click)="submit()">
            <p>Valider</p>
          </button>
        </div>
      </div>
    </form>
  </div>
  