@model Guid

<script>
    function onAddNomMarqueClick(e) {
        e.preventDefault();

        $.ajax({
            url: '@Url.Action("CreationNomMarque", ReferenceController.ControllerName)',
            type: "POST",
            data: { libelleFr: e.model.LibelleFr, ordreFr: e.model.OrdreFr },
            success: function (recData) {
                if(recData.Errors != null){
                    erreurFunction(recData.Errors);
                    return;
                }

                enregistrementReussi();
                closeDialog("#addNomMarqueDialog");

                $.ajax({
                    url: '@Url.Action("PartialViewUpdateMarque", MarqueController.ControllerName)',
                    type: "POST",
                    data: { IdMarque: '@Model' },
                    success: function (recData) { $('#PartialViewUpdateMarque').html(recData) },
                    error: erreurFunction
                });
            },
            error: erreurFunction
        });
    }
</script>

@(Html.Kendo().Form<ReferenceDto>()
    .Name("addNomMarqueForm")
    .Validatable(v => v.ValidationSummary(false))
    .ButtonsTemplateId("templateEnregistrerNomMarqueBtn")
    .Items(item =>
    {
        item.Add()
            .Field(f => f.LibelleFr)
            .Label(l => l.Text(LibellesResources.ReferenceLibelleFr))
            .InputHtmlAttributes(new { required = "required", validationmessage = LibellesResources.ReferenceLibelleFrRequired });
        item.Add()
            .Field(f => f.OrdreFr)
            .Label(l => l.Text(LibellesResources.ReferenceOrdreFr))
            .InputHtmlAttributes(new { required = "required", validationmessage = LibellesResources.ReferenceOrdreFrRequired })
            .Editor(e => e.NumericTextBox().Min(1).Format("#"));
    })
    .Events(ev => ev.Submit("onAddNomMarqueClick"))
)

<script type="text/x-kendo-template" id="templateEnregistrerNomMarqueBtn">
    <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary k-form-submit" type="submit">
        <span class="k-button-text">Enregistrer</span>
    </button>
</script>
