<app-custom-loader [isLoading]="isLoading" />
<div class="at-p-formulaire-info-section">
    <img src="Images/HONNETETE.png">
    <p>
        Deuxième étape : vous avez étudié à Poudlard? Vous parlez couramment le patois péruvien avec un léger accent du sud? 
        Vous possèdez une certification officielle de meilleur imitateur de France que Nicolas Canteloup vous jalouse? 
        C'est ici qu'il faut nous le dire.
    </p>
</div>
<fieldset>
    <legend><span>&nbsp;&nbsp;<i class="fa-solid fa-graduation-cap "></i>&nbsp;&nbsp;Formation</span></legend>
    <div *ngFor="let formation of stepFormation.formations">
        <div class="flex-row space-between align-center at-c-violet">
            <p class="custom-margin">
              {{formation.libelle}}
            </p>
            <a (click)="onModifierFormationClick(formation)" class="edit-link">
              <p class="at-c-violet"><i class="fas fa-edit"></i> Modifier</p>
            </a>
          </div>
        <p class="font-bold ">{{formation.domaine}} - {{formation.niveau}}</p>
        <p class="font-normal">{{formation.organisme}}</p>
        <p class="font-normal" *ngIf="formation.dateFin">De {{formation.dateDebut | date : "MMMM YYYY" }} à {{formation.dateFin | date : "MMMM YYYY" }} <span *ngIf="formation.dureeExperience">({{formation.dureeExperience}})</span></p>
        <p class="font-normal" *ngIf="!formation.dateFin">Depuis {{formation.dateDebut | date : "MMMM YYYY" }} <span *ngIf="formation.dureeExperience">({{formation.dureeExperience}})</span></p>
        
    </div>
    <div class="at-p-button-ajouter">
        <button (click)="onAddFormationClick()">
            <img src="Images/ICONE_PLUS.png">
            <p>Ajouter une formation</p>
        </button>
    </div>   
</fieldset>
<fieldset>
    <legend>&nbsp;&nbsp;<i class="fa-brands fa-google-scholar"></i>&nbsp;&nbsp;Certification</legend>
    <div *ngFor="let certification of stepFormation.certifications">
        <div class="flex-row space-between align-center">
            <p class=" at-c-violet custom-margin">
              {{certification.libelle}}
            </p>
            <a (click)="onModifierCertificationClick(certification)" class="edit-link">
              <p class="at-c-violet"><i class="fas fa-edit"></i> Modifier</p>
            </a>
          </div>
        <p class="font-bold ">{{certification.domaine}} - {{certification.niveau}}</p>
        <p class="font-normal">{{certification.organisme}}</p>
        <p class="font-normal" *ngIf="certification.dateFin">De {{certification.dateDebut | date : "MMMM YYYY" }} à {{certification.dateFin | date : "MMMM YYYY" }} <span *ngIf="certification.dureeExperience">({{certification.dureeExperience}})</span></p>
        <p class="font-normal" *ngIf="!certification.dateFin">Depuis {{certification.dateDebut | date : "MMMM YYYY" }} <span *ngIf="certification.dureeExperience">({{certification.dureeExperience}})</span></p>
    </div>
    <div class="at-p-button-ajouter">
        <button (click)="onAddCertificationClick()">
            <img src="Images/ICONE_PLUS.png">
            <p>Ajouter une certification</p>
        </button>
    </div>   
</fieldset>
<fieldset>
    <legend>&nbsp;&nbsp;<i class="fa-solid fa-language"></i>&nbsp;&nbsp;Langues parlées</legend>
    <div>
        <span *ngFor="let langue of stepFormation.langues; last as isLast">
            {{langue.libelleLangue}}<span class="font-normal">&nbsp;({{langue.libelleReferenceNiveau}})&nbsp;&nbsp;&nbsp;</span>
        </span>
    </div>
    <div class="at-p-button-ajouter">
        <button (click)="onAddLangueClick()">
            <img src="Images/ICONE_PLUS.png">
            <p>Ajouter une langue</p>
        </button>
    </div>  
</fieldset>