<div>
    Deuxième étape : vous avez étudié à Poudlard? Vous parlez couramment le patois péruvien avec un léger accent du sud? Vous possèdez une certification officielle de meilleur imitateur de France que Nicolas Canteloup vous jalouse? C'est ici qu'il faut nous le dire.
</div>
<fieldset>
    <legend>Formation</legend>
    <div *ngFor="let formation of stepFormation.formations">
        <p>{{formation.libelle}}</p>
        <p>{{formation.domaine}} - {{formation.niveau}}</p>
        <p>{{formation.organisme}}</p>
        <p>Du {{formation.dateDebut}} au {{formation.dateFin}}</p>
        <a (click)="onModifierFormationClick(formation)">Modifier</a>
    </div>
    <button (click)="onAddFormationClick()">Ajouter une formation</button>
</fieldset>
<fieldset>
    <legend>Certification</legend>
    <div *ngFor="let certification of stepFormation.certifications">
        <p>{{certification.libelle}}</p>
        <p>{{certification.domaine}} - {{certification.niveau}}</p>
        <p>{{certification.organisme}}</p>
        <p>Du {{certification.dateDebut}} au {{certification.dateFin}}</p>
        <a (click)="onModifierCertificationClick(certification)">Modifier</a>
    </div>
    <button (click)="onAddCertificationClick()">Ajouter une certification</button>
</fieldset>
<fieldset>
    <legend>Langues parlées</legend>
    <div>
        <span *ngFor="let langue of stepFormation.langues; last as isLast">
            {{langue.langue?.libelle}} {{langue.niveau?.libelle}} <i *ngIf="!isLast">.</i>
        </span>
    </div>
    <button (click)="onAddLangueClick()">Ajouter une langue</button>
</fieldset>