<app-custom-loader [isLoading]="isLoading" />
<header class="at-p-header">
    <div class="logo-altalents">
        <img src="Images/LOGO_ALTALENTS.png">
    </div>
</header>
<div class="main-content">

      
    <div class="row">
        <div class="body-bulle">



            <div class="bubble-container">
  
                <div class="text">
                    <h1 class="">Bienvenue sur le dossier de compétences de <span
                            class="at-c-violet">{{nomPrenomCandidat}}</span> !</h1>
                    <p class="font-normal">
                        Cette page vous permet de générer et mettre à jour votre dossier de compétences en quelques
                        clics.
                        Et c'est très simple : il vous suffit de suivre les étapes une par une comme indiqué, et de
                        remplir
                        les données nécessaires. N'oubliez pas de prendre bien soin d'être clair et concis.
                    </p>
                    <p class="font-normal">
                        Cliquez sur démarrer pour commencer à remplir le formulaire !
                    </p>
                    <app-dt-readonly-message [permissionDT]="permissionDT"></app-dt-readonly-message>
                </div>

                <div *ngIf="documents.length > 0" class="mt-5 ">
                    Le recruteur a déposé des documents sacrés 📜.<br/> Consultez-les avant de partir en quête de votre dossier de compétences ! 🚀
                    <div *ngFor="let doc of documents; let i = index"  class="mt-3">
                        <p><a class="link" (click)="downloadPj(doc.id!)">{{doc.nomFichier}} </a> <span class="font-normal"> - {{doc.commentaire}}</span></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="at-p-button-container">
            <button class="at-p-button" (click)="onDemarrerClick()">
                <p *ngIf="!permissionDT.isDtReadOnly"><i class="fa-solid fa-play"></i>Démarrer</p>
                <p *ngIf="permissionDT.isDtReadOnly"><i class="fa-solid fa-eye"></i>Consulter</p>
            </button>
        </div>
    </div>
</div>
<img src="Images/ILLUSTRATION_STABILO.png" class="logo-altalent-stabilo">