:host {
    display: block;
    background-color: #E9E9F3;
    min-width: 100vw;
    min-height: 100vh;
}

.navbar {
    top: 2.77vh;
    left: 46.61vw;
    width: 6.77vw;
    height: 2.77vh;
    justify-content: center;
}

.custom-container-1 {
    width: 54.69vw;
    height: 5.83vh;
    margin-top: 22.22vh;
    margin-left: 18.75vw;
}

.custom-container-2 {
    width: 62.5vw;
    height: 52.58vh;
    margin-top: 5.27vh;
    margin-left: 18.75vw;
    vertical-align: middle;
    background-image: url(/Images/GROUPE_5.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 6vw;
}

.custom-paragraph-1 {
    font-size: 2.5vw;
    font-family: DM Sans;
    font-weight: bold;
}

.custom-paragraph-2 {
    font-size: 2.5vw;
    font-family: DM Sans;
    color: #7A4AFF;
}

.custom-paragraph-3 {
    font-size: 1.66vw;
    font-family: DM Sans;
}

.custom-paragraph-4 {
    font-size: 1.04vw;
    font-family: DM Sans;
}

.custom-paragraph-5 {
    font-size: 1.04vw;
    font-family: DM Sans;
    font-weight: bold;
}