<form [formGroup]="formGroup">
    <fieldset>
        <legend>Certification</legend>
        <div class="row">
            <div class="col-6">
                <label for="libelle">Certification</label>
            </div>
            <div class="col-6">
                <input type="text" formControlName="libelle" placeholder="Libellé de la certification">
            </div>               
        </div>
        <div class="row">
            <div class="col-6">
                <label for="domaine">Domaine</label>
            </div>
            <div class="col-6">
                <input type="text" formControlName="domaine" placeholder="Histoire">
            </div>               
        </div>
        <div class="row">
            <div class="col-6">
                <label for="niveau">Niveau</label>
            </div>
            <div class="col-6">
                <input type="text" formControlName="niveau" placeholder="Bac">
            </div>               
        </div>
        <div class="row">
            <div class="col-6">
                <label for="organisme">Organisme</label>
            </div>
            <div class="col-6">
                <input type="text" formControlName="organisme" placeholder="Nom de l'organisme">
            </div>               
        </div>
        <div class="row">
            <div class="col-6">
                <label for="dateDebut">Date de début</label>
            </div>
            <div class="col-6">
                <input type="text" formControlName="dateDebut" placeholder="JJ/MM/AAAA">
            </div>               
        </div>
        <div class="row">
            <div class="col-6">
                <label for="dateFin">Date de fin</label>
            </div>
            <div class="col-6">
                <input type="text" formControlName="dateFin" placeholder="JJ/MM/AAAA">
            </div>               
        </div>
    </fieldset>
    <div>
        <button (click)="closeDialog()">Annuler</button>
        <button (click)="submit()">Valider</button>
    </div>
</form>