<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>À vous de jouer ! Voici votre dossier technique à renseigner.</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Altalent</h1>
    </div>
    <div class="content">
      <p>Bonjour,</p>
      <p>
        Merci de bien vouloir remplir le dossier technique en cliquant sur le lien ci-dessous :
      </p>
      <p>
        <a href="{{link}}" target="_blank">
          Complétez votre dossier technique
        </a>
      </p>
      <p>Nous vous remercions pour votre collaboration.</p>
    </div>
    <div class="footer">
      <p>Cet email vous a été envoyé automatiquement par Altalent.</p>
      <p class="humor">PS : Oui, nos emails sont plus stylés que les spams. 🕶️</p>
    </div>
  </div>
</body>
</html>
