<div class="at-p-formulaire-info-section">
    <h2>Barème</h2>
    <p>
        Veuillez procéder à une autoévaluation en cliquant sur les étoiles représentant une note de 1 à 5. Retrouvez ci-dessous le détail de la signification de ces notes.
    </p>
</div>
<fieldset>
    <legend>Compétences</legend>
    <!-- <div *ngFor="let competence of stepFormation.formations">
        <p class="at-c-violet custom-margin">{{formation.libelle}}</p>
        <p class="font-bold ">{{formation.domaine}} - {{formation.niveau}}</p>
        <p class="font-normal">{{formation.organisme}}</p>
        <p class="font-normal">Du {{formation.dateDebut}} au {{formation.dateFin}}</p>
        <a (click)="onModifierFormationClick(formation)"> <p class="at-c-violet"><i class="fas fa-edit"></i> Modifier</p></a>
    </div> -->
</fieldset>
<fieldset>
    <legend>Méthodologie</legend>
</fieldset>
<fieldset>
    <legend>Outils</legend>
</fieldset>
<fieldset>
    <legend>Technologies</legend>
</fieldset>