<div class="at-p-formulaire-info-section">
    <img src="Images/HONNETETE.png">
    <p>
        C’est parti, pour la première étape nous allons avoir besoin de recueillir vos infos personnelles histoire de
        tout revendre à Zukerberg. Je plaisante, ces informations ne seront évidemment partagées à personne, comme nos
        meilleures vannes d’ailleurs.
    </p>
</div>

<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-lg-6">
            <fieldset>
                <legend class="legend-text">Informations personnelles</legend>
                <div class="row mb-2">
                    <div class="col-6 at-p-label-champ-input">
                        <label for="prenom" class="col-form-label">Prénom<span
                                class="champ-obligatoire">*</span></label>
                        <div class="error-message"
                            *ngIf="formGroup.get('prenom')?.invalid && formGroup.get('prenom')?.touched">
                            Prénom est requis.
                        </div>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" formControlName="prenom" placeholder="Julien">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 at-p-label-champ-input ">
                        <label for="nom" class="col-form-label">Nom<span class="champ-obligatoire">*</span></label>
                        <div class="error-message"
                            *ngIf="formGroup.get('nom')?.invalid && formGroup.get('nom')?.touched">
                            Nom est requis.
                        </div>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" formControlName="nom" placeholder="Dupont">
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-6">
            <fieldset>
                <legend class="legent-text">Coordonnées de contact</legend>
                <div class="row mb-2">
                    <div class="col-6 at-p-label-champ-input ">
                        <label for="numeroTelephone1 align-items-center" class="col-form-label">N° de téléphone 1<span
                                class="champ-obligatoire">*</span></label>
                        <div class="error-message"
                            *ngIf="formGroup.get('numeroTelephone1')?.invalid && formGroup.get('numeroTelephone1')?.touched">
                            N° de téléphone est invalide.
                        </div>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" formControlName="numeroTelephone1"
                            placeholder="00 00 00 00 00">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 at-p-label-champ-input ">
                        <label for="numeroTelephone2 align-items-center" class="col-form-label">N° de téléphone
                            2</label>
                        <div class="error-message"
                            *ngIf="formGroup.get('numeroTelephone2')?.invalid && formGroup.get('numeroTelephone2')?.touched">
                            N° de téléphone est invalide.
                        </div>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" formControlName="numeroTelephone2"
                            placeholder="00 00 00 00 00">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 at-p-label-champ-input ">
                        <label for="adresseMail align-items-center" class="col-form-label">Adresse mail<span
                                class="champ-obligatoire">*</span></label>
                        <div class="error-message"
                            *ngIf="formGroup.get('adresseMail')?.invalid && formGroup.get('adresseMail')?.touched">
                            Adresse mail est invalide.
                        </div>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" formControlName="adresseMail"
                            placeholder="adresse@mail.com">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <fieldset>
                <legend class="legent-text">Adresse</legend>
                <div class="row mb-2">
                    <div class="col-6 at-p-label-champ-input ">
                        <label for="adresse1 align-items-center" class="col-form-label">Adresse 1<span
                                class="champ-obligatoire">*</span></label>
                        <div class="error-message"
                            *ngIf="formGroup.get('adresse1')?.invalid && formGroup.get('adresse1')?.touched">
                            Adresse est requis.
                        </div>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" formControlName="adresse1"
                            placeholder="12 rue des Fleurs">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 at-p-label-champ-input ">
                        <label for="adresse2 align-items-center" class="col-form-label">Adresse 2</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" formControlName="adresse2"
                            placeholder="22 rue des Adresses">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 at-p-label-champ-input ">
                        <label class="col-form-label">Code postal / Ville<span
                                class="champ-obligatoire">*</span></label>
                        <div class="error-message"
                            *ngIf="formGroup.get('codePostal')?.invalid && formGroup.get('codePostal')?.touched">
                            Code Postal est invalide.
                        </div>
                        <div class="error-message"
                            *ngIf="formGroup.get('ville')?.invalid && formGroup.get('ville')?.touched">
                            Ville est requise.
                        </div>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" formControlName="codePostal" placeholder="08000">
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" formControlName="ville" placeholder="Charleville">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 at-p-label-champ-input ">
                        <label for="pays" class="col-form-label">Pays<span class="champ-obligatoire">*</span></label>
                        <div class="error-message"
                            *ngIf="formGroup.get('pays')?.invalid && formGroup.get('pays')?.touched">
                            Pays est requise.
                        </div>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" formControlName="pays" placeholder="France">
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-6">
            <div class="drop-zone mt-4">
                <img src="Images/ICON_FEATHER_DOWNLOAD.png">
                <p class="at-c-violet">Déposez votre CV</p>
            </div>
        </div>
    </div>
</form>
