<form [formGroup]="formGroup">
    <fieldset>
        <legend>Langues parlées</legend>
        <div class="row">
            <div class="col-6">
                <label for="langue">Langue</label>
            </div>
            <div class="col-6">
                <select formControlName="langue">
                    <option *ngFor="let langue of langues" [ngValue]="langue">{{langue.libelle}} <span *ngIf="langue.commentaireFun">({{langue.commentaireFun}})</span></option>
                </select>
            </div>               
        </div>
        <div class="row">
            <div class="col-6">
                <label for="niveau">Niveau</label>
            </div>
            <div class="col-6">
                <select formControlName="niveau">
                    <option *ngFor="let niveauLangue of niveauxLangues" [ngValue]="niveauLangue">{{niveauLangue.libelle}} <span *ngIf="niveauLangue.commentaireFun">({{niveauLangue.commentaireFun}})</span></option>
                </select>
            </div>
        </div>
    </fieldset>
    <div>
        <button (click)="closeDialog()">Annuler</button>
        <button (click)="submit()">Valider</button>
    </div>
</form>