<app-custom-loader [isLoading]="isLoading" />
<div class="at-p-formulaire-info-section">
    <img src="Images/HONNETETE.png">
    <p>
        Troisième étape! Tenez bon, il ne restera plus grand chose à faire ensuite. 
        Buvez un verre d'eau, détendez-vous et tout va bien se passer : 
        il est venu le temps de nous communiquer vos expériences professionnelles. Courage moussaillon.
    </p>
</div>
<fieldset>
    <legend><i class="fa-regular fa-building"></i>Expérience professionnelle</legend>
    <div *ngFor="let experience of experiences" class="margin-bottom">
        <div class="flex-row space-between align-center">
            <p class=" at-c-violet custom-margin-top-bottom">
              {{experience.intitulePoste}} ({{experience.typeContrat.libelle}})
            </p>
            <div class="edit-links">
                <a (click)="onModifierExperienceClick(experience)" class="edit-link">
                <p class="at-c-violet"><i class="fas fa-edit"></i> Modifier</p>
                </a>
                <a (click)="onDeleteExperienceClick(experience)" class="edit-link">
                    <p class="at-c-violet"><i class="fa-solid fa-trash"></i> Supprimer</p>
                </a>
            </div>
        </div>
        <p class="font-bold">{{experience.nomEntreprise}} <span *ngIf="experience.IsEntrepriseEsnOrInterim">[ESN]</span>  - {{experience.domaineMetier.libelle}}</p>
        <p class="font-normal" *ngIf="experience.dateFin">De {{experience.dateDebut | date : "MMMM YYYY" }} à {{experience.dateFin | date : "MMMM YYYY" }} <span *ngIf="experience.dureeExperience">({{experience.dureeExperience}})</span></p>
        <p class="font-normal" *ngIf="!experience.dateFin">Depuis {{experience.dateDebut | date : "MMMM YYYY" }} <span *ngIf="experience.dureeExperience">({{experience.dureeExperience}})</span></p>
        <p class="font-normal">{{experience.description}}</p>
        <p>
            <span *ngFor="let technologie of experience.technologies" class="at-p-autocomplete-choix">
                {{technologie.libelle}}
            </span>
            <span *ngFor="let competence of experience.competences" class="at-p-autocomplete-choix">
                {{competence.libelle}}
            </span>
            <span *ngFor="let methodologie of experience.methodologies" class="at-p-autocomplete-choix">
                {{methodologie.libelle}}
            </span>
            <span *ngFor="let outil of experience.outils" class="at-p-autocomplete-choix">
                {{outil.libelle}}
            </span>
        </p>
        <div class="row">
            <div class="col-xl-4" *ngFor="let project of experience.projetOrMission"> 
                <div class="item-bloc" >
                    <p *ngIf="project.NomClientOrProjet || project.domaineMetier" class="at-c-violet font-normal">{{project.NomClientOrProjet}} <span *ngIf="project.NomClientOrProjet && project.domaineMetier"> - </span><span *ngIf="project.domaineMetier">{{project?.domaineMetier?.libelle}}</span></p>
                    <div *ngIf="project.dateDebut" class="font-italic font-small font-normal">
                        <span class="" *ngIf="project.dateFin">De {{project.dateDebut | date : "MMMM YYYY" }} à {{project.dateFin | date : "MMMM YYYY" }} <span *ngIf="project.dureeExperience">({{project.dureeExperience}})</span></span>
                        <span class="" *ngIf="!project.dateFin">Depuis {{project.dateDebut | date : "MMMM YYYY" }} <span *ngIf="project.dureeExperience">({{project.dureeExperience}})</span></span>
                    </div>
                    <div *ngIf="project.budget || project.compositionEquipe || project.lieu"  class="font-italic font-small font-normal margin-bottom">
                        {{project.budget}}<span *ngIf="project.budget"> €</span><span *ngIf="project.compositionEquipe && project.budget"> - </span>{{project.compositionEquipe}}<span *ngIf="project.compositionEquipe && project.lieu"> - </span>{{project.lieu}}
                    </div>
                    <div *ngIf="project.descriptionProjetOrMission" class="font-normal margin-bottom text-ellipsis">{{project.descriptionProjetOrMission}}</div>
                    <div *ngIf="project.taches" class="text-ellipsis">
                        <span class="font-normal"><span class="font-underline">Taches</span> : {{project.taches}}</span>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="at-p-button-ajouter">
        <button (click)="onAddExperienceClick()">
            <p><i class="fa-regular fa-plus at-c-violet"></i> Ajouter une expérience</p>
        </button>
    </div>   
</fieldset>