<app-custom-loader [isLoading]="isLoading" />
<div *ngIf="userIdLogged">
    <header class="at-p-header">
        <div class="logo-altalents">
            <img src="Images/LOGO_ALTALENTS.png">
        </div>
    </header>
    <div class="container">
        <div class="content">
            <h1>Configuration</h1>
            <div class="row">
                <form [formGroup]="formGroup" class="col-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset>
                                <legend><i class="fa-solid fa-info"></i>Informations personnelles</legend>
                                <div class="row mb-2">
                                    <div class="col-lg-6 label-champ-input">
                                        <label for="prenom" class="col-form-label">Prénom<span class="champ-obligatoire ">*</span></label>
                                        <div class="error-message"
                                            *ngIf="formGroup.get('prenom')?.invalid && formGroup.get('prenom')?.touched">
                                            Prénom est requis.
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control " formControlName="prenom"
                                            placeholder="Julien" (change)="nomPrenomChange()">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-lg-6 label-champ-input">
                                        <label for="nom" class="col-form-label">Nom<span class="champ-obligatoire">*</span></label>
                                        <div class="error-message"
                                            *ngIf="formGroup.get('nom')?.invalid && formGroup.get('nom')?.touched">
                                            Nom est requis.
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" formControlName="nom"
                                            placeholder="Dupont" (change)="nomPrenomChange()">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-lg-6 label-champ-input">
                                        <label for="trigram" class="col-form-label">Trigramme<span class="champ-obligatoire">*</span></label>
                                        <div class="error-message"
                                            *ngIf="formGroup.get('trigram')?.invalid && formGroup.get('trigram')?.touched">
                                            Trigramme est invalide.
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" formControlName="trigram"
                                            placeholder="JUD">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend><i class="fa-solid fa-check"></i>Conditions</legend>
                                <div class="row mb-2">
                                    <div class="col-lg-6 label-champ-input">
                                        <label for="poste" class="col-form-label">Poste</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" formControlName="poste"
                                            placeholder="Titre">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-lg-6 d-flex align-items-center custom-justify-end">
                                        <div class=" text-end">
                                            <label class="switch">
                                                <input type="checkbox" formControlName="isPrixJourEnable" (change)="updateInputPrixJour()">
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                        <div>
                                            <label for="prixJour" class="ms-3">Tarif journalier</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" formControlName="prixJour"
                                            placeholder="100 €">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-lg-6 label-champ-input">
                                        <label for="disponibilite" class="col-form-label">Disponibilité</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <select id="country" class="at-w-200" class="form-control"
                                            formControlName="disponibilite">
                                            <option *ngFor="let disponibilite of disponibilites"
                                                [ngValue]="disponibilite.id">{{ disponibilite.libelle }} <span
                                                    *ngIf="disponibilite.commentaireFun">(<em>{{disponibilite.commentaireFun}}</em>)</span>
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <legend><i class="fa-solid fa-b"></i>Identifiant de Boond Manager du candidat</legend>
                                <div class="row mb-2">
                                    <div class="col-lg-6 label-champ-input">
                                        <label for="idBoond" class="col-form-label">ID de Boond Manager<span class="champ-obligatoire">*</span></label>
                                        <div class="error-message"
                                            *ngIf="formGroup.get('idBoond')?.invalid && formGroup.get('idBoond')?.touched">
                                            L'identifiant de Boond Manager du candidat est invalide.
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" formControlName="idBoond"
                                            placeholder="15415s">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend><i class="fa-regular fa-address-book"></i>Coordonnées de contact</legend>
                                <div class="row mb-2">
                                    <div class="col-lg-6 label-champ-input">
                                        <label for="numeroTelephone1" class="col-form-label">N° de téléphone</label>
                                        <div class="error-message"
                                            *ngIf="formGroup.get('numeroTelephone1')?.invalid && formGroup.get('numeroTelephone1')?.touched">
                                            N° de téléphone est invalide.
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" formControlName="numeroTelephone1"
                                            placeholder="XX XX XX XX XX">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-lg-6 label-champ-input">
                                        <label for="adresseMail" class="col-form-label">Adresse e-mail<span
                                                class="champ-obligatoire">*</span></label>
                                        <div class="error-message"
                                            *ngIf="formGroup.get('adresseMail')?.invalid && formGroup.get('adresseMail')?.touched">
                                            L'adresse e-mail est invalide.
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" formControlName="adresseMail"
                                            placeholder="adresse@mail.com">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend><i class="fa-solid fa-question"></i>Questionnaires & documents</legend>
                                        <div class="at-p-button-ajouter">
                                            <button (click)="onAjouterQuestionnaireClick()">
                                                <p><i class="fa-regular fa-plus at-c-violet"></i>{{questions ? 'Modifier le ' : 'Ajouter un '}} questionnaire</p>
                                            </button>
                                        </div>
                                        <div class="at-p-button-ajouter">
                                            <button (click)="onAjouterDocumentClick()">
                                                <p><i class="fa-regular fa-plus at-c-violet"></i>{{pieceJointe ? 'Modifier le ' : 'Ajouter un '}} CV</p>
                                            </button>
                                        </div>
                                        <i class="fa-solid fa-download at-c-violet " *ngIf="pieceJointe">&nbsp;</i>
                                        <a class="link" (click)="downloadPj()">{{pieceJointe?.nomFichier}}</a>
                                        <span class="font-normal" *ngIf="pieceJointe?.commentaire" >&nbsp;({{pieceJointe?.commentaire}}) </span>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <div class="at-p-button-container">
                    <altea-button-secondary label="Retour" imgSrc="Images/ICONE_REPLAY.png" (onClick)="return()"></altea-button-secondary>
                    <altea-button-prim label="Envoyer" imgSrc="Images/ICONE_PLAY.png" (onClick)="sendCandidat()"></altea-button-prim>
                </div> 
            </div>
        </div>
    </div>
</div>
