.fenetre-dialog {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.custom-text-area {
    width: 100%;
    height: 15vh;
}

p {
    font-weight: normal;
}

.margin-top {

    margin-top: 0.5rem;
}

/* Conteneur pour le lien "Supprimer" */
.delete-link-container {
    display: flex;
    align-items: center; /* Aligne le lien "Supprimer" au centre verticalement */
    margin-left: auto; /* Si tu veux pousser le lien "Supprimer" à droite */
}

/* Lien "Supprimer" */
.delete-link {
    margin-top: 12px;
    text-decoration: none; /* Supprime le soulignement du lien */
    cursor: pointer; /* Modifie le curseur au survol */
}

/* Effet de survol pour le lien "Supprimer" */
.delete-link:hover {
    text-decoration: underline; /* Souligne le lien au survol */
}


.projects-container {
    background-color: #F5F5FF; /* Gris clair */
    padding: 20px; /* Ajustez la valeur du padding selon vos besoins */
    border-radius: 8px; /* Optionnel : pour des bords arrondis */
}

.project-even {
    background-color: #F5F5FF; /* Gris clair */
    padding: 20px; /* Ajustez la valeur du padding selon vos besoins */
    border-radius: 8px; /* Optionnel : pour des bords arrondis */
}

.project-odd {
    background-color: #ffffff; /* Gris légèrement plus foncé */
    padding: 20px; /* Ajustez la valeur du padding selon vos besoins */
    border-radius: 8px; /* Optionnel : pour des bords arrondis */
}