<form [formGroup]="formGroup">
    <fieldset>
        <legend>Expérience professionelle</legend>
        <div class="row">
            <div class="col-3">
                <label for="typeContrat">Type de contrat</label>
            </div>
            <div class="col-3">
                <select formControlName="typeContrat">
                    <option *ngFor="let typeContrat of typesContrats" [ngValue]="typeContrat">
                        {{typeContrat.libelle}}
                    </option>
                </select>
            </div>
            <div class="col-3">
                <label for="dateDebut">Date de début</label>
            </div>
            <div class="col-3">
                <input type="text" formControlName="dateDebut" placeholder="JJ/MM/AAAA">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="intitulePoste">Intitulé du poste</label>
            </div>
            <div class="col-3">
                <input type="text" formControlName="intitulePoste" placeholder="Professeur d'histoire">
            </div>
            <div class="col-3">
                <label for="dateFin">Date de fin</label>
            </div>
            <div class="col-3">
                <input type="text" formControlName="dateFin" placeholder="JJ/MM/AAAA">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="entreprise">Entreprise</label>
            </div>
            <div class="col-3">
                <input type="text" formControlName="entreprise" placeholder="Nom de l'entreprise">
            </div>
            <div class="col-3">
                <label class="switch">
                    <input type="checkbox" formControlName="isPosteActuel">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="col-3">
                <label for="isPosteActuel">J'occupe actuellement ce poste</label>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label class="switch">
                    <input type="checkbox" formControlName="isClientFinal" (change)="updateInputClientFinal()">
                    <span class="slider"></span>
                </label>
                <label for="clientFinal">Client final</label>
            </div>
            <div class="col-3">
                <input type="text" formControlName="clientFinal" placeholder="Nom du client final">
            </div>
            <div class="col-3">
                <label for="lieu">Lieu</label>
            </div>
            <div class="col-3">
                <input type="text" formControlName="lieu" placeholder="Jumanji">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="description">Description de l'expérience professionnelle</label>
                <p>(N'hésitez pas à mettre le plus de détails possible, on adore lire)</p>
            </div>
            <div class="col-9">
                <textarea formControlName="description" placeholder="Il était une fois..."></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="domaineMetier">Domaine métier</label>
            </div>
            <div class="col-3">
                <input type="text" formControlName="domaineMetier" placeholder="Services secrets">
            </div>
            <div class="col-3">
                <label for="compositionEquipe">Composition d'équipe</label>
            </div>
            <div class="col-3">
                <input type="text" formControlName="compositionEquipe" placeholder="Avec qui travailliez-vous?">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="technologie">Technologies</label>
            </div>
            <div class="col-9">
                <input type="text" formControlName="technologie" placeholder="Décrivez les technologies utilisées" (input)="inputTechnologies()">
                <div *ngIf="filtredTechnologies.length" class="autocomplete-dropdown">
                    <p *ngFor="let technologie of filtredTechnologies" (click)="onTechnologieClick(technologie)">{{technologie.libelle}}</p>
                </div>

                <div class="autocomplete-container">
                    <ul class="autocomplete-ul">
                        <li *ngFor="let item of selectedTechnologies" class="autocomplete-choix">
                            {{item.libelle}}
                            <span class="autocomplete-remove" (click)="onTechnologieRemoveClick(item)">X</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="competences">Compétences</label>
            </div>
            <div class="col-9">
                <select formControlName="competences" multiple>
                    <option *ngFor="let competence of competences" [ngValue]="competence">
                        {{competence.libelle}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="methodologies">Méthodologies</label>
            </div>
            <div class="col-9">
                <select formControlName="methodologies" multiple>
                    <option *ngFor="let methodologie of methodologies" [ngValue]="methodologie">
                        {{methodologie.libelle}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label class="switch">
                    <input type="checkbox" formControlName="isBudgetGere" (change)="updateInputBudgetGere()">
                    <span class="slider"></span>
                </label>
                <label for="budgetGere">Budget géré</label>
            </div>
            <div class="col-3">
                <input type="number" formControlName="budgetGere" placeholder="0€">
            </div>
        </div>
    </fieldset>
    <div>
        <button (click)="closeDialog()">Annuler</button>
        <button (click)="submit()">Valider</button>
    </div>
</form>