<app-custom-loader [isLoading]="isLoading" />
<div class="fenetre-dialog">
    <form [formGroup]="formGroup">
        <fieldset>
            <legend class="mb-3"><i class="fa-regular fa-building"></i>Expérience professionelle</legend>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active " id="experience-tab" data-bs-toggle="tab" href="#experience" role="tab"
                        aria-controls="experience" aria-selected="true" (click)="onTabChange($event)">Détails</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="projets-tab" data-bs-toggle="tab" href="#projets" role="tab"
                        aria-controls="projets" aria-selected="false" (click)="onTabChange($event)">{{ IsEsn ? ' Mission(s)' : 'Projet(s)' }}</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade mt-3 mb3 show active" id="experience" role="tabpanel" aria-labelledby="experience-tab">
                    <div class="">
                        <div class="row">
                            <div class="col-lg-3 mt-2 label-champ-input">
                                <label for="dateDebut" class="col-form-label">Date de début<span
                                        class="champ-obligatoire">*</span></label>
                                <div class="error-message"
                                    *ngIf="formGroup.get('dateDebut')?.errors?.['required'] && formGroup.get('dateDebut')?.touched">
                                    La date de début est requise.
                                </div>
                                <div class="error-message"
                                    *ngIf="formGroup.get('dateDebut')?.errors?.['maxDate'] && formGroup.get('dateDebut')?.touched">
                                    La date ne peut pas être supérieure à aujourd’hui.
                                </div>
                            </div>
                            <div class="col-lg-3 mb-2">
                                <input id="dateDebut" type="date" formControlName="dateDebut" class="form-control"
                                    placeholder="JJ/MM/AAAA">
                            </div>
                            <div class="col-lg-3 mt-2 label-champ-input">
                                <label for="dateFin" class="col-form-label">Date de fin<span
                                        *ngIf="!formGroup.controls.isPosteActuel.value"
                                        class="champ-obligatoire">*</span></label>
                                <div class="error-message"
                                    *ngIf="formGroup.get('dateFin')?.errors?.['required'] && formGroup.get('dateFin')?.touched">
                                    La date de fin est requise.
                                </div>
                                <div class="error-message" *ngIf="formGroup.hasError('dateRangeInvalid')">
                                    La date de fin doit être postérieure à la date de début.
                                </div>
                                <div class="error-message"
                                    *ngIf="formGroup.get('dateFin')?.errors?.['maxDate'] && formGroup.get('dateFin')?.touched">
                                    La date ne peut pas être supérieure à aujourd’hui.
                                </div>
                            </div>
                            <div class="col-lg-3 mb-2">
                                <input id="dateFin" type="date" formControlName="dateFin" class="form-control"
                                    placeholder="JJ/MM/AAAA">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 mt-2 label-champ-input">
                                <label for="intitulePoste" class="col-form-label">Intitulé du poste<span class="champ-obligatoire">*</span></label>
                                <div class="error-message"
                                    *ngIf="formGroup.controls.intitulePoste.invalid && formGroup.controls.intitulePoste.touched">
                                    L'intitulé du poste est requis.
                                </div>
                            </div>
                            <div class="col-lg-3 mb-2">
                                <input id="intitulePoste" type="text" formControlName="intitulePoste" class="form-control"
                                    placeholder="Professeur d'histoire">
                            </div>
                            <div class="col-lg-3 label-champ-input"> </div>
                            <div class="col-lg-3 mt-2 mb-2 d-flex align-items-center">
                                <label class="switch">
                                    <input type="checkbox" formControlName="isPosteActuel" id="isPosteActuel"
                                        (change)="updateInputPosteActuel()">
                                    <span class="slider"></span>
                                </label>
                                <div>
                                    <label for="isPosteActuel" class="ms-3">J'occupe ce poste</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 mt-2 label-champ-input">
                                <label for="entreprise">Entreprise<span class="champ-obligatoire">*</span></label>
                                <div class="error-message"
                                    *ngIf="formGroup.controls.entreprise.invalid && formGroup.controls.entreprise.touched">
                                    Le nom de l'entreprise est requis.
                                </div>
                            </div>
                            <div class="col-lg-3 mb-2 d-flex align-items-center">
                                <input id="entreprise" type="text" formControlName="entreprise" class="form-control"
                                    placeholder="Nom de l'entreprise">
                            </div>
                            <div class="col-lg-3 label-champ-input"> </div>
                            <div class="col-lg-3 mt-2 mb-2 d-flex align-items-center">
                                <label class="switch">
                                    <input type="checkbox" id="isEntrepriseEsnOrInterim"
                                        formControlName="isEntrepriseEsnOrInterim" (change)="toggleIsEsn()">
                                    <span class="slider"></span>
                                </label>
                                <label for="isEntrepriseEsnOrInterim" class="ms-3">L'entreprise est une ESN</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 mt-2 label-champ-input">
                                <label for="domaineMetier" class="col-form-label">Domaine métier<span
                                        class="champ-obligatoire">*</span></label>
                                <div class="error-message"
                                    *ngIf="formGroup.controls.domaineMetier.invalid && formGroup.controls.domaineMetier.touched">
                                    Le domaine métier est requis.
                                </div>
                            </div>
                            <div class="col-lg-3 mb-2">
                                <select formControlName="domaineMetier" id="domaineMetier" class="form-select">
                                    <option *ngFor="let domaine of domaines" [ngValue]="domaine">
                                        {{domaine.libelle}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-3 mt-2 label-champ-input">
                                <label for="typeContrat" class="col-form-label">Type de contrat<span
                                        class="champ-obligatoire">*</span></label>
                                <div class="error-message"
                                    *ngIf="formGroup.controls.typeContrat.invalid && formGroup.controls.typeContrat.touched">
                                    Le type de contrat est requis.
                                </div>
                            </div>
                            <div class="col-lg-3 mb-2">
                                <select id="typeContrat" formControlName="typeContrat" class="form-select">
                                    <option *ngFor="let typeContrat of typesContrats" [ngValue]="typeContrat">
                                        {{typeContrat.libelle}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 mt-2 label-champ-input" >
                                <label for="lieu" class="col-form-label">Lieu<span *ngIf="IsEsn"> de l'agence</span><span  *ngIf="!IsEsn"
                                        class="champ-obligatoire">*</span></label>
                                <div class="error-message"
                                    *ngIf="formGroup.controls.lieu.invalid && formGroup.controls.lieu.touched">
                                    Le lieu est requis.
                                </div>
                            </div>
                            <div class="col-lg-3 mb-2" >
                                <input type="text" id="lieu" formControlName="lieu" class="form-control"
                                    placeholder="Marseille bébé">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Projets -->
                <div class="tab-pane fade mb-3 mt-3" id="projets" role="tabpanel"
                    aria-labelledby="projets-tab">

                    <!-- Formulaire Projets -->
                    <div formArrayName="projects" class="">
                        <div *ngFor="let project of getProjets().controls; let i = index" [formGroupName]="i" class=""
                            [ngClass]="{'project-even': i % 2 === 0, 'project-odd': i % 2 !== 0}">

                            <div class="row">
                                <div class="col-lg-3 mt-2 label-champ-input"  *ngIf="IsEsn">
                                    <label for="nomClientOrProjet{{i}}" class="col-form-label">Nom Client
                                        <span
                                        *ngIf="formGroup.controls.isEntrepriseEsnOrInterim.value"
                                        class="champ-obligatoire">*</span>
                                    </label>
                                    <div *ngIf="project?.get('nomClientOrProjet')?.invalid && project?.get('nomClientOrProjet')?.touched"
                                    class="error-message">
                                        La nom Client est requise.
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-2"  *ngIf="IsEsn">
                                    <input id="nomClientOrProjet{{i}}" type="text" formControlName="nomClientOrProjet"
                                        class="form-control" placeholder="Edf, Areva, Michelin ...">
                                </div>
                                <div class="col-lg-3 mt-2 label-champ-input"  *ngIf="IsEsn">
                                    <label for="domaineMetier{{i}}" class="col-form-label">Domaine métier</label>
                                </div>
                                <div class="col-lg-3 mb-2" *ngIf="IsEsn">
                                    <select id="domaineMetier{{i}}" formControlName="domaineMetier" class="form-select">
                                        <option *ngFor="let domaine of domaines" [ngValue]="domaine">
                                            {{ domaine.libelle }}
                                        </option>
                                    </select>
                                </div> 
                               
                                <!-- Date de début -->
                                <div class="col-lg-3 mt-2 label-champ-input">
                                    <label for="dateDebut{{i}}" class="col-form-label">Date de début
                                        <span
                                        *ngIf="formGroup.controls.isEntrepriseEsnOrInterim.value"
                                        class="champ-obligatoire">*</span>
                                    </label>
                                    <div class="error-message"
                                        *ngIf="project?.get('dateDebut')?.errors?.['maxDate'] && project?.get('dateDebut')?.touched">
                                            La date ne peut pas être supérieure à aujourd’hui.
                                    </div>
                                    <div *ngIf="project?.get('dateDebut')?.errors?.['required'] && project?.get('dateDebut')?.touched"
                                        class="error-message">
                                            La date de début est requise.
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-2">
                                    <input id="dateDebut{{i}}" type="date" formControlName="dateDebut"
                                        class="form-control">
                                </div>

                                <!-- Date de fin -->
                                <div class="col-lg-3 mt-2 label-champ-input">
                                    <label for="dateFin{{i}}" class="col-form-label">Date de fin</label>
                                    <div class="error-message" *ngIf="project?.hasError('dateRangeInvalid')">
                                        La date de fin doit être postérieure à la date de début.
                                    </div>
                                    <div class="error-message"
                                        *ngIf="project?.get('dateFin')?.errors?.['maxDate'] && project?.get('dateFin')?.touched">
                                        La date ne peut pas être supérieure à aujourd’hui.
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-2">
                                    <input id="dateFin{{i}}" type="date" formControlName="dateFin" class="form-control">
                                </div>

                                <div class="col-lg-3 mt-2 label-champ-input"  *ngIf="IsEsn">
                                    <label for="lieu{{i}}" class="col-form-label">Lieu
                                        <span
                                        *ngIf="formGroup.controls.isEntrepriseEsnOrInterim.value"
                                        class="champ-obligatoire">*</span>
                                    </label>
                                    <div *ngIf="project?.get('lieu')?.errors?.['required'] && project?.get('lieu')?.touched"
                                    class="error-message">
                                        Le lieu est requise.
                                </div>
                                </div>
                                <div class="col-lg-3 mb-2"  *ngIf="IsEsn">
                                    <input id="lieu{{i}}" type="text" formControlName="lieu" class="form-control"
                                        placeholder="Lieu">
                                </div>

                                <div class="col-lg-3 mt-2 label-champ-input">
                                    <label for="budget{{i}}" class="col-form-label">Budget</label>
                                    <div *ngIf="project?.get('budget')?.invalid && project?.get('budget')?.touched"
                                        class="error-message">
                                        Le budget doit être un nombre positif.
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-2">
                                    <input type="text" id="budget{{i}}" formControlName="budget" placeholder="0 €"
                                    class="form-control budget-field"  >                          
                                </div>
                                <div class="col-lg-3 mt-2 label-champ-input">
                                    <label for="compositionEquipe{{i}}" class="col-form-label">Composition
                                        d'équipe</label>
                                </div>
                                <div class="col-lg-3 mb-2">
                                        <textarea id="compositionEquipe{{i}}" rows="3"  formControlName="compositionEquipe" class="form-control"
                                        placeholder="1 Lead, 3 dev, 1 PO, 4 QA"></textarea>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-6">
                                    <label for="descriptionProjetOrMission{{i}}" class="col-form-label mt-2">
                                        Contexte projet <span class="error-message">*</span>
                                    </label>
                                    <textarea id="descriptionProjetOrMission{{i}}"
                                        formControlName="descriptionProjetOrMission"
                                        class="form-control mb-2"
                                        rows="4"
                                        placeholder="En charge du développement d'une application de gestion des patients pour les médecins hospitaliers.">
                                    </textarea>
                                    <div *ngIf="project?.get('descriptionProjetOrMission')?.invalid && project?.get('descriptionProjetOrMission')?.touched"
                                        class="error-message">
                                        Le contexte est requis.
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="taches{{i}}" class="col-form-label mt-2">
                                        Description des tâches <span class="error-message">*</span>
                                    </label>
                                    <textarea id="taches{{i}}"
                                        formControlName="taches"
                                        class="form-control mb-2"
                                        rows="4"
                                        placeholder="Tâches effectuées">
                                    </textarea>
                                    <div *ngIf="project?.get('taches')?.invalid && project?.get('taches')?.touched"
                                        class="error-message">
                                        La description est requise.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 mt-2 label-champ-input">
                                    <label for="competences{{i}}">Compétences</label>
                                    <p class="font-normal font-italic font-small">Vous pouvez ajouter un nouvel item en écrivant, puis cliquer dessus</p>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <app-multiple-autocomplete id="competences{{i}}" placeholder="Gestion de projet, Management, etc..."
                                        [constanteRequest]="constantesRequest.getReferencesCompetences"
                                        [constanteTypeReference]="constantesTypesReferences.competence"
                                        [selectedReferences]="project.value.competences ?? []"
                                        (selectedReferencesCallback)="onSelectedCompetencesChange($event, i)"></app-multiple-autocomplete>
                                </div>
                                <div class="col-lg-2 mt-2 label-champ-input">
                                    <label for="methodologies" class="col-form-label">Méthodologies</label>
                                    <p class="font-normal font-italic font-small">Vous pouvez ajouter un nouvel item en écrivant, puis cliquer dessus</p>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <app-multiple-autocomplete id="methodologies" placeholder="SCRUM, Agile, Lean, Cycle en V, etc..."
                                        [constanteRequest]="constantesRequest.getReferencesMethodologies"
                                        [constanteTypeReference]="constantesTypesReferences.methodologie"
                                        [selectedReferences]="project.value.methodologies ?? []"
                                        (selectedReferencesCallback)="onSelectedMethodologiesChange($event, i)"></app-multiple-autocomplete>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 mt-2 label-champ-input">
                                    <label for="technologies" class="col-form-label">Technologies</label>
                                    <p class="font-normal font-italic font-small">Vous pouvez ajouter un nouvel item en écrivant, puis cliquer dessus</p>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <app-multiple-autocomplete id="technologies"
                                        placeholder="Java, Asp.net, C#, Angular, Jquery, etc..."
                                        [constanteRequest]="constantesRequest.getReferencesTechnologies"
                                        [constanteTypeReference]="constantesTypesReferences.technologie"
                                        [selectedReferences]="project.value.technologies ?? []"
                                        (selectedReferencesCallback)="onSelectedTechnologiesChange($event, i)">
                                    </app-multiple-autocomplete>
                                </div>
                                <div class="col-lg-2 mt-2 label-champ-input">
                                    <label for="outils" class="col-form-label">Outils</label>
                                    <p class="font-normal font-italic font-small">Vous pouvez ajouter un nouvel item en écrivant, puis cliquer dessus</p>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <app-multiple-autocomplete outils placeholder="Visual studio, Eclipse, Ms project, etc..."
                                        [constanteRequest]="constantesRequest.getReferencesOutils"
                                        [constanteTypeReference]="constantesTypesReferences.outil"
                                        [selectedReferences]="project.value.outils ?? []"
                                        (selectedReferencesCallback)="onSelectedOutilsChange($event, i)"></app-multiple-autocomplete>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9 mb-2">
                                    <label class="col-form-label"></label>
                                </div>
                                <div class="col-lg-3 mb-2">
                                    <div
                                        class="delete-link-container d-flex justify-content-between align-items-center">
                                        <a (click)="removeProjet(i)" class="delete-link ms-auto">
                                            <p class="at-c-violet text-end mb-0"><i
                                                    class="fa-solid fa-trash"></i> Supprimer</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!hasAtLeastOneProject()" class="error-message mt-3">
                            {{ IsEsn ? 'Vous devez renseigner au moins une mission.' : 'Vous devez renseigner au moins
                            un projet.' }}
                        </div>
                        <div class="at-p-button-ajouter">
                            <label for="" class="col-form-label"></label>
                            <button (click)="addProject()">
                                <p>
                                    <i class="fa-regular fa-plus at-c-violet"></i>
                                    {{ IsEsn ? 'Ajouter une mission' : 'Ajouter un projet' }}
                                </p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="formGroup.invalid && formGroup.touched && submitted" class="error-message mt-4">
                Veuillez corriger les champs en erreur avant de pouvoir valider (verifier tous les onglets).
            </div>
        </fieldset>
        <div>
            <div class="at-p-button-container">
                <button class="at-p-secondary-button" (click)="cancel()">
                    <p>Annuler</p>
                </button>
                <button class="at-p-button" (click)="submit()">
                    <p>Valider</p>
                </button>
            </div>
        </div>
    </form>
</div>