.h-100 {
    height: 100%;
}

.font-normal {
    font-weight: normal;
    margin: 2px 0; 
  }

.edit-link p {
    margin: 0; /* Supprime les marges par défaut */
}

.at-c-violet {
    margin: 0; /* Assurez-vous que les marges sont cohérentes */
}