
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Altalents</title>
    <link rel="icon" href="~/favicon.png" type="image/png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Altalents.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Altalents-icon.css" asp-append-version="true" />
    <script src="https://kendo.cdn.telerik.com/2023.1.314/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.1.314/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.1.314/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/js/kendo-ui-license.js"></script>
</head>
