<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Altalent</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        window.baseUrlApi = ".";
    </script>
    <link rel="icon" href="~/favicon.png" type="image/png" />
    <link rel="stylesheet" href="~/css/app-client.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VXRSBVM4Q4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VXRSBVM4Q4');
    </script>
    <!-- fin Google tag (gtag.js) -->
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/js/app-client.js"></script>

</body>
</html>
