<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Altalent</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #F8F8FF !important;
            width: 99%;
            font-family: "DM Sans", sans-serif !important;
            font-optical-sizing: auto !important;
            font-style: normal !important;
            color: black !important;
            font-weight: bold !important;
        }
    </style>
    <script>
        window.baseUrlApi = ".";
    </script>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/app-client.css">
    <!-- fin Google tag (gtag.js) -->
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/js/app-client.js"></script>

</body>
<script src="https://kit.fontawesome.com/9ebf361d61.js" crossorigin="anonymous"></script>
</html>
