<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Altalent</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-color: #F8F8FF !important;
        }
    </style>
    <script>
        window.baseUrlApi = ".";
    </script>
    <link rel="icon" href="~/favicon.png" type="image/png" />
    <link rel="stylesheet" href="~/css/app-client.css">
    <!-- fin Google tag (gtag.js) -->
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/js/app-client.js"></script>

</body>
<script src="https://kit.fontawesome.com/9ebf361d61.js" crossorigin="anonymous"></script>
</html>
