@using Altalents.Commun.Enums
@using AlteaTools.Api.Core.Extensions

<div id="ReferenceWindow" style="display: none;">
    <form id="ReferenceForm">
        <input type="hidden" id="ReferenceId" />

        <div class="form-group">
            <label for="IsValidatedCheckBox">Validée</label><br/>
            <input type="checkbox" id="IsValidatedCheckBox" class="" /><br />
            <br />

            <label for="Libelle">Libellé</label>
            <input type="text" id="Libelle" class="k-textbox form-control" />
            <br />

            <label for="Commentaire">Commentaire</label>
            <textarea id="Commentaire" class="k-textbox form-control"></textarea>
        </div>

        <div class="modal-footer">
            <button type="button" class="k-grid-save-command k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary"
                    id="saveReferenceBtn">
                <span class="k-icon k-i-save k-button-icon"></span>
                <span class="k-button-text">Enregistrer</span>
            </button>
            <button type="button" class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-secondary"
                    onclick="closeKendoReferenceWindow()">
                <span class="k-icon k-i-cancel k-button-icon"></span>
                <span class="k-button-text">Annuler</span>
            </button>
        </div>
    </form>
</div>
